.navbar {
  overflow: hidden;
  background-color: #333;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  display: block;
}

.navbar a {
  float: left;
  font-size: 16.5px;
  color: white;
  text-align: center;
  padding: 2px 1px;
  text-decoration: none;
}
.dropdown .active {
  font-size: 16px;
  border: none;
  outline: none;
  color: antiquewhite;
  padding: 16px 0px;
  background-color: green;
  margin: 0;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: antiquewhite;
  padding: 16px 1px;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: green;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  font-family:sans-serif;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-info {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-info a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown-info a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-info {
  display: block;
}
nav{
    position:fixed;
}
.milk {
  float: right;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 24px 3px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  position:absolute;
  top:0;
  right:0;
}
h1{
  text-align: center;
  color: red;
  background-image: linear-gradient(turquoise,grey);
  height: 5vw;
  font-size: 50px;
}
body {
      background-image: url("bg5.jpg");
      background-repeat: no-repeat;
      background-size: 1700px 1100px;
      background-position: center
    }
    .button {
      background-color: powderblue;
      border: none;
      color: saddlebrown;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 22px;
      margin: 4px 2px;
      cursor: pointer;
    }
.free{
  text-align: left;
  font-size: 30px;
  color: #4CAF50;
}
